body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

header{
    background-color: #3949ab;
    color: white;
    text-align: center;
    font-weight: bold; 
}

h1{
    display: inline-block;
    width: 400px;
    font-size: 24px;
}

p{ 
    display: inline-block;
    width: 400px;
}

h3{
    font-size: 36px;
    font-weight: 700;
}

dt{
    font-size: 20px;
    font-weight: 500;
}

.description_principal{
    background-color:  #f06292;
    text-align: center;
    padding: 20px;
}

.datos_personales{
    width: 80%;
    height: 400px;
    background-color: aqua;
    margin: 0 auto;
}